# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor

.env

# Where I keep my runspace for testing / docker compose
/runspace
/reference
.geminiignore
.playwright-mcp
